#dod {
    background-image: url(banner.jpg);
    height: 100px;
}
body
{
    background-image: url(backround.jpg);
}
#turn
{
    background-color: brown;
}
#l1
{
    font-size: 24px;
    font-style: italic;
    background-color: white;
    font-weight: bold;
}
#l2
{
    font-size: 24px;
    font-style: italic;
    background-color: white;
    font-weight: bold;
}
#p1.progress
{
    background-color: rgb(238, 18, 165);
}